.mdp {
	text-align: center;
	font-size: 20px;
	margin: 10% 0;
}
.mdp h3 {
	color: white;
}
#header_feuille_de_tournoi{
	background-color: rgb(220,220,220);
}
#menu_match {
	width: 100%;
	margin: auto;
	text-align: center;
}
.corps-ext{
	background-color: rgba(0,0,0,0.5);
	padding: 50px 30px;
}
.item-li a {
	color: white;
	display: block;
	width: 100%;
	background: #2F4F4F;
	text-align: center;
	border-right: 1px solid white;
	padding: 1%;
}
.item-li {
	margin: 0;
	padding: 0;
}
.titre-equipe-completes {
	background: #f5f5f5;
}
.add-team {
	width: 100%;
}
#cont_liste-msg-tournoi{
	height: 400px;
	overflow-y: scroll;
}
.titre_cadre_contenu_fdt{
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: slategrey;
	color: white;
	text-align: center;
	border: 1px solid rgb(27,50,73);
	border-radius-top: 10px;
}
.cadre_contenu_fdt {
	background: white;
	color: rgb(27,50,73);
	border: 1px solid rgb(27,50,73);
	border-radius: 5px;
	border-radius-top: 10px;
	flex: 1;
	margin: 3px;
	margin-top: 0px;
}
.equipe-cont {
	vertical-align: middle;
	padding: 1%;
	cursor: pointer;
}
.equipe-cont button {
	padding: 5px;
}
.bouton_equipe{
	margin-top:0;
}
.equipe-cont h1,{
	margin-top: 0;
}
#contenu_body_match {
	font-size: 20px;
	margin: 10px auto;
	border-radius: 5px;
	width: 100%;
	text-align: center;
}
#mon_equipe, #Mur { 
	text-align: center;
	width: 100%;
}
#equipes{
	display: flex;
	justify-content: space-between;
}
#mur {
	width: 90%;
}
.equipe-joueurs {
	padding: 1%;
	background: #f5f5f5;
}
.equipe_joueurs_detail{
	width: 100%;
	display: flex;
	justify-content: space-around;
	border: 1px solid grey;
	height: 50px;
	color: rgb(27,50,73);
}
.equipe_joueurs_detail *{
	margin: auto;
	font-size: 12px;
}
.statut {
 	float: right;
}
.act {
	background-color: white;
}
.item-act {
	/* zoom: 120%; */
}
h3 {
	text-align: center;
}
.err-titre {
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(27,50,73);
	text-align: center;
	font-family: 'Baloo', cursive;
	font-weight: normal;
	font-size: 18px;
}
#mur-equipe-cont {
	margin: 0px;
	padding: 0px;
}
#mon-equipe-cont{
	margin: 10px;
	background: rgb(27,50,73);
	margin-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}
#mur-equipe-cont h4 {
	padding: 1%;
}
#cont_liste-msg{
	height: 350px;
	overflow-y: scroll;
}
.cadre_contenu_fdt form{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.titre-mon-equipe, .titre-mur-equipe {
	margin: 1% 0;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.titre-mur-equipe {
	border-bottom: 1px solid black;
}
.unJoueur {
	padding: 2%;
}
.form-equipe {
	display: none;
	background: lightgrey;
	margin:0;
}
.param-team{
	background: #f5f5f5;
	margin-bottom: 1%;
	padding: 1%;
	border-radius: 5px;
}
.param-team h3 {
	margin-top: 0;
	font-weight: bold;
}
#form-param-team {
	display: none;
}
.clic-param {
	cursor: pointer;
	background: dimgray;
	color: white;
	padding: 1%;
}
.msg-cont {
	padding: 3px;
	font-size: 14px;
	text-align: left;
	background: #f5f5f5;
	border-bottom: 1px solid lightslategrey;
}
.sign-msg {
	text-align: left;
	font-size: 10px;
}
/* 
	MUR DU TOURNOI	
*/
.message-cont {
	background: white;
    border: 1px solid black;
	width: 100%;
	padding: 1%;
	border-radius: 5px;
}
#mur form{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sign {
	margin-top: 1%;
	text-align: right;
	padding: 0 1% 0;
	border-top: 1px solid black;
}
.sign span, .sign-msg span {
	font-weight: bold;
}
.delete-msg {
	float: right;
}
.delete-msg a {
	color: red;
}
.delete-msg a:hover {
	text-decoration: none;
}
h1{
	font-size: 15px;
}
.normal-size {
	font-size: 14px;
}
/*h3{
	font-size: 13px;
}*/
#body_match{
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
	border: solid 1px rgb(27,50,73);
	background-color: rgb(232,234,236);
	border-top: none;
}
.recap_equipe{
	display: flex;
	padding: 3px;
}
.recap_equipe{
	text-align: center;
}
.equipe_nom{
	flex: 1;
	display: flex;
	margin: auto;
}
.equipe_nb_joueurs{
	flex: 1;
	display: flex;
	margin: auto;
}
.equipe_btn{
	flex: 1;
	display: flex;
}
.equipe_btn{
	margin: auto;
}
.joueur_user{
	font-weight: bold;
	padding: 1px;
	order: 1;
}
.joueur_user *{
	font-weight: bold;
}
.joueur{
	text-align: left;
	background: #f5f5f5;
	border-bottom: 1px solid darkgray;
}
.liste_joueur{
	font-size: 14px;
	min-height: 90px;
	margin: 5px;
}
#liste_joueurs_equipe h2 {
	margin-top: 4px; 
	text-decoration: underline;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 1px grey;
}