.mdp {
	text-align: center;
	margin-top: 5%;
	font-size: 20px;
}
.mdp h3 {
	color: white;
}
#menu_match {
	width: 100%;
	margin: auto;
	text-align: center;
}
.item-li a {
	color: white;
	display: block;
	width: 100%;
	background: #2F4F4F;
	text-align: center;
	border-right: 1px solid white;
	padding: 1%;
}
.item-li {
	margin: 0;
	padding: 0;
}
.titre-equipe-completes {
	background: #f5f5f5;
}
.add-team {
	width: 100%;
}
.categories-equipes h2 {
	margin-top: 1%;
	padding: 1%;
	background: #B0C4DE;
	border-radius: 5px;
	color: black;
	text-align: center;
}
.categories-equipes h3 {
	background: #f5f5f5;
	padding: 1%;
}
.categories-equipes {
	width: 100%;
	background: #B0C4DE;
	border: 1px solid black;
	margin-bottom: 2%;
	border-radius: 5px;
	padding: 1%;
}
.equipe-cont {
	background: white;
	vertical-align: middle;
	padding: 1%;
	cursor: pointer;
}
.equipe-cont h1, .equipe-cont h2 {
	margin-top: 0;
}
#contenu_body_match {
	width: 100%;
}
#equipes, #mon_equipe, #Mur { 
	width: 90%;
	margin: 1% auto 0;
}
.equipe-joueurs .col-md-6 {
	padding: 1%;
	background: #f5f5f5;
 	border: 1px solid black;
}
.statut {
 	float: right;
}
.act {
 	background: #DCDCDC;
}
.item-act {
	background: blue;
	/* zoom: 120%; */
}
h3 {
	text-align: center;
}
.err-titre {
	text-align: center;
	background: #B0C4DE;
	color: black;
	padding: 1%;
}
#mon-equipe-cont, #mur-equipe-cont {
	background: white;
	margin-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
}
.titre-mon-equipe, .titre-mur-equipe {
	margin: 1% 0;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.titre-mur-equipe {
	border-bottom: 1px solid black;
}
.unJoueur {
	padding: 2%;
}
.form-equipe {
	display: none;
	background: dimgray;
	margin:0;
	padding: 1%;
}
.param-team {
	background: #f5f5f5;
	margin: 1% 0;
	padding: 1%;
	border-radius: 5px;
}
.param-team h3 {
	margin-top: 0;
	font-weight: bold;
}
#form-param-team {
	display: none;
}
.clic-param {
	cursor: pointer;
	background: dimgray;
	color: white;
	padding: 1%;
}

/* 
	MUR DU TOURNOI	
*/
.message-cont {
	background: white;
	width: 100%;
	padding: 1%;
	border-radius: 5px;
}
.sign {
	margin-top: 1%;
	text-align: right;
	padding: 0 1% 0;
	border-top: 1px solid black;
}
.sign span {
	font-weight: bold;
}
.delete-msg {
	float: right;
}
.delete-msg a {
	color: red;
}
.delete-msg a:hover {
	text-decoration: none;
}