#footer{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	margin: 0rem;
	padding: 1%;
	text-align: center;
	color: white;
}
#footer *{
	margin: 1rem;
}
#footer a {

}
#footer a:hover {
	text-decoration: none;
}

