#footer{
	background-color: rgba(0,0,0,0.9);
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: white;
}
#footer *{
	margin: 1rem;
}
#footer a {
 	color: lightgrey;
	margin: 0;
}
#footer a:hover {
	text-decoration: none;
	color: slategrey;
}
#footer img {
	display: inline-block;
	margin: 2px;
}
#footer h3 {
	font-family: 'Montserrat', sans-serif;
}

