.equipe-cont {
	padding: 1%;
	cursor: pointer;
	border: 1px solid black;
	background: white;
}

/* form team */
.form-cont {
	background: dimgray;
	padding: 1%;
	width: 80%;
	color: white;
	margin: 2% auto;
}

.un-joueur {
	margin-top: 2px;
	padding: 1%;
	background: white;
	border: 1px solid black;
}
.joueurs-team {
	display: none;
	padding: 1%;
	background: lightgrey;
}