.header {
	background-color: rgb(62,63,58);
	/*background-image: url('../img/image_foot2.jpg');*/
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(104,159,56);
	background: rgba(0,0,0,0.9);
	padding: 2%;
	border-bottom: 3px solid rgb(255,255,255); 
	text-align: center;
	color: white;
	font-family: 'Permanent Marker', cursive;
}
.header h2 {
	margin: 0;
}
.header a {
	color: white;
}
.header a:hover, .header a:focus {
	color: lightgrey;
}

* {
	padding: 1px;
}
.bandeau{
	display: flex;
	justify-content: space-between;
}

a{
	color: white;
}
.dropdown{
	border: none;
}
.cercle .encercle{
	padding: 0.5rem;
	padding-left: 0.55rem;
	margin: 0.1rem;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.1rem;
	color: white;
}

a:hover{
	color: rgb(200,200,200);
}
.menu_liste{
	color: white;
	background-color: rgba(5,5,5,0.9);
	border-style: ridge;
}

.menu_liste li a{
	color: white;
}
.element_bandeau:nth-child(3){
	flex: 1;
	text-align: center;
}


