.header {
	background: rgba(0,0,0,0.5);
	padding: 2%;
	text-align: center;
	color: white;
}
.header h2 {
	margin: 0;
	font-family: 'Permanent Marker', cursive;
}
.header a {
	color: white;
}
.header a:hover, .header a:focus {
	color: lightgrey;
}