

.bandeau{
	display: flex;
	background-color: rgba(0,0,0,0.5);
	margin: 0rem;
	padding: 0rem;
}
.bandeau * {
	padding: 1px;
}
a{
	color: white;
}
.dropdown{
	border: none;
}

a:hover{
	color: rgb(200,200,200);
}
.menu_liste{
	color: white;
	border-style: ridge;
}

.menu_liste li a{
	color: black;
}
.element_bandeau:nth-child(3){
	flex: 1;
	text-align: center;
}


