.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
li{
	height: 2rem;
}
li:hover{
	background-color: #ececec;
}
label{
	width: 100%;
}
.liste_departements{
	margin: 0.1rem;
	padding: 0.1rem;
}
.modal-body{
	margin: 0rem;
	padding: 0.1rem;
	max-height: 35rem;
	overflow-x: scroll;
}
.badgebox
{
    opacity: 0;
}
#post{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 95%;
	min-height: 620px;
}
#btn_dpt{
	justify-content:  center;
	width: 50%;
	margin: 0 auto 2%;
}
#nav_complexes{
	background-color: rgba(0,0,0,0.7);
}
#menu_liste_complexes{
	text-align: left;
	width: 100%;
	height: 50px;
}
.onglet_complexe {
	background-color: lightgrey;
	color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 18%;
	padding: 1%;
	border: 1px solid black;
}
.actif, .onglet_complexe:focus, .onglet_complexe:hover  {
	background: dimgray;
	color: white;
	text-decoration: none;
}