#contenu_corps{
	display: flex;
	justify-content: center;
}
#contenu_corps *{
	text-align: center;	
}
#inscription, #connexion{
	width: 90%;
	max-width: 350px;
	margin: 10px;
	margin-bottom: 50px;
	background-color: white;
	border: solid 1px rgb(200,200,200);
	padding: 15px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
li{
	height: 2rem;
}
li:hover{
	background-color: #ececec;
}
label{
	width: 100%;
}
.liste_departements{
	margin: 0.1rem;
	padding: 0.1rem;
}
.modal-dialog{
	color: black;
}
.modal-body{
	margin: 0rem;
	padding: 0.1rem;
	max-height: 35rem;
	overflow-x: scroll;
}
.badgebox
{
    opacity: 0;
}
#post{
	padding: 10px;
	padding-top: 0px;
	margin-top: 0;
	width: 100%;
	color: white;
}
hr{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}
b{
	color: black;
	text-decoration: underline;	
	line-height: 25px;
}
#complexe{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.complexe img{
	width: 70px;
}
.complexe{
	width: 200px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	margin: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 10px;
}
.div_input2 *{
	color: black;
}
#btn_dpt{
	width: 100px;
	padding: 1px;
}
#nav_complexes{
	background-color: rgba(0,0,0,0.7);
}
.conteneur-tournoi{
	color: black;
}
#menu_liste_complexes{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}
.menu_complexe div{
	cursor: pointer;
	margin: 2px;
	border-radius: 5px;
	min-width: 100px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.menu_complexe{
	display: flex;
	flex-wrap: wrap;
}
.show_complexe{
	background-color: white;
	background-color: rgba(66,133,244, 0.3);
	color: black;
	text-align: center;
}
.show_complexe *{
	text-align: center;
}
.acti{
	background-color: rgb(66,133,244);
}
.acti:hover{
	background-color: rgb(66,133,244);
}

.onglet_complexe{
	clear: both;
	padding: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	display: flex;
	justify-content: space-between;
}
.onglet_complexe_1{
	display: flex;
	height: auto;
	justify-content: space-between;
	flex-direction: column;
}
.onglet_complexe_1_1, .onglet_complexe_1_2, .onglet_complexe_1_3{
	display: flex;
	width: 100%;
}
.onglet_complexe_1_1 *, .onglet_complexe_1_2 *, .onglet_complexe_1_3 *{
	margin: auto;
}
.onglet_complexe_1_2{
	height: 50px;
	width: 50px;
	margin-bottom: 2px;
}
..onglet_complexe_1_2 img{
	max-height: 100%;
	min-width: 100%;
}
.onglet_complexe_1_3{
	margin-bottom: 0px;
}
.onglet_complexe_1_1{
}
.formatage_onglet{
	display: flex;
	flex-direction: column;
}
.filtre{
	width: 150px;
}
.menu-list{
}
.menu_liste_complexes a{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.info-index {
	background-color: rgba(255,255,255,0.85);
	width: 50%;
	font-size: 20px;
	margin: auto;
	border: 1px solid darkslateblue;
	border-radius: 5px;
}
.info-index a {
	color: darkslategray;
	font-family: 'Kumar One', cursive;
}
.info-index a:hover {
	color: grey;
}
.form-horizontal{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.form-group{
	clear: both;
	width: auto;
	margin: 5px;
}
.form-control{
	margin: auto;
	width: 80%;
}
p{
	style="font-size: 20px;
}
#cont-all{
	padding: 10px;
}
#page{
	background-color: rgb(66,133,244);
	background-color: rgb(104,159,56);
}

.recap_event{
	color: black;
	display: flex;
	margin: 5px;
}
.heure{
	font-style: normal;
	line-height: 10px;
	font-size: 13px;
}
.recap_event a div{
vertical-align: center;
}
.recap_event{
	background-color: white;
	border: 1px solid rgb(180,180,180);
	padding: 0px;
}
.recap_event p{
	margin: 0px;
	padding: 0px;
}
.recap_event div *{
	text-align: left;
	vertical-align: center;
}
.recap_event_2 h1{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.match{
	/*background-color: #4682b4;*/
	border-radius: 5px;
	color: white;
	color: blue;
}
.tournoi{
	/*background-color: #2099CF;*/
	border-radius: 5px;
	color: white;
	color: orange;
}
.match *{
	background-color: blue;
}
.tournoi * {
	background-color: rgb(66,133,244);
	color: white;
}
body *{
	font-family: 'Nunito', sans-serif;
}
