#contenu_corps{
	display: flex;
	justify-content: center;
}
#contenu_corps *{
	text-align: center;	
}
#inscription, #connexion{
	width: 40%;
	max-width: 350px;
	margin: 10px;
	margin-bottom: 50px;
	background-color: white;
	border: solid 1px rgb(200,200,200);
	padding: 15px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
li{
	height: 2rem;
}
li:hover{
	background-color: #ececec;
}
label{
	width: 100%;
}
.liste_departements{
	margin: 0.1rem;
	padding: 0.1rem;
}
.modal-body{
	margin: 0rem;
	padding: 0.1rem;
	max-height: 35rem;
	overflow-x: scroll;
}
.badgebox
{
    opacity: 0;
}
#post{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 95%;
	background-color: white;
	color: black;
}
#btn_dpt{
	justify-content:  center;
	width: 50%;
	margin: 0 auto 2%;
}
#nav_complexes{
	background-color: rgba(0,0,0,0.7);
}
#menu_liste_complexes{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}
.onglet1{	
	background-color: rgb(27,50,73);
	border: solid 1px rgb(20,20,20);
	color: rgb(235,125,0);
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.menu-list{
}
.menu_liste_complexes a{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.info-index {
	background-color: rgba(255,255,255,0.85);
	width: 50%;
	font-size: 20px;
	margin: 2% auto;
	border: 1px solid darkslateblue;
	border-radius: 5px;
}
.info-index a {
	color: darkslategray;
	font-family: 'Kumar One', cursive;
}
.info-index a:hover {
	color: grey;
}
.form-horizontal{
	display: flex;
	flex-direction: column;
}
.form-group{
	clear: both;
	width: auto;
	margin: 5px;
}
.form-control{
	margin: auto;
	width: 80%;
}
