.conteneur-tournoi {
	margin: 1% 0;
	border-radius: 5px;
	text-align: center;
	color: black;
}
.conteneur-tournoi * {
	color: black;
}
.corps_tournoi{
	display: flex;
}
.infos_tournoi{
	text-align: left;
}
.descriptif{
	margin-bottom: 15px;
	text-align: center;
	border-left: solid 1px grey;

}
.conteneur-tournoi h2 {
	font-size: 20px;
	margin-top: 0;
}
.logo_tournoi {
	vertical-align: bottom;
	padding: 1% 3%;
}
.logo_tournoi img{
	height: 50px;
}
.header-tournoi {
	background: #2E8B57;
	border: 1px dotted black;
	margin-bottom: 1%;
	padding: 0.5% 0;
	color: #f5f5f5;
	text-align: center;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tournoi-date{
	text-align: left;
}
.header-tournoi-lieu{
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_descriptif{
	text-decoration: underline;
}
.conteneur-tournoi a {
	color: black;
}
.conteneur-tournoi a:hover {
}
.prix-team h1 {
	display: inline-block;
}