.conteneur-tournoi {
	background: #f5f5f5;
	border-bottom: 1px solid black;
	margin: 1% 0;
	border-radius: 5px;
	text-align: center;
}
.corps_tournoi{
	display: flex;
}
.infos_tournoi{
	text-align: left;
}
.descriptif{
	margin-bottom: 15px;
	text-align: center;
	border-left: solid 1px grey;

}
.conteneur-tournoi h2 {
	font-size: 25px;
	margin-top: 0;
}
.logo_tournoi {
	vertical-align: bottom;
	padding: 1% 3%;
}
.logo_tournoi img{
	height: 50px;
}
.header-tournoi {
	background: #2F4F4F;
	border: 1px dotted black;
	margin-bottom: 1%;
	color: white;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-tournoi-date{
	text-align: left;
}
.header-tournoi-lieu{
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_descriptif{
	text-decoration: underline;
}
.titre-liste-tournoi {
	background: #FFFAF0;
	padding: 1%;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
	border-bottom: 1px dotted black;
	font-family: 'Titillium Web', sans-serif;
}
.conteneur-tournoi a {
	color: black;
}
.conteneur-tournoi a:hover {
}