.conteneur-tournoi {
	background: #f5f5f5;
	border-bottom: 1px solid black;
	margin: 1%;
	border-radius: 10px;
}
.body_tournoi h2 {
	font-size: 25px;
	margin-top: 0;
}
.logo_tournoi {
	vertical-align: bottom;
}
.logo_tournoi img {
	height: 60px;
}
.header-tournoi {
	background: #2F4F4F;
	border: 1px dotted black;
	margin-bottom: 1%;
	padding: 0.5% 0;
	color: white;
	text-align: center;
	font-size: 25px;
}
.titre-liste-tournoi {
	background: #FFFAF0;
	padding: 1%;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 0 2%;
	font-family: 'Titillium Web', sans-serif;
}
.conteneur-tournoi a {
	color: black;
}
.conteneur-tournoi a:hover {
}