body{
	margin: 0rem;
	padding: 0rem;
	height: 100%;
	background:url('../img/fond_index.jpg');
	background-size: cover;
}
.show1{
	margin: 20px;
}
.menu-orga1 {
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	padding: 10px;
}
.conteneur-index {
}
.opaciteur {
	background: rgba(0, 0, 0, 0.7); padding-top: 2%; height: 100%;
}
.nom-site {
	text-shadow: 5px 5px 5px black;
	border: 2px dashed white;
	width: 40%;
	margin: 1% auto;
	padding: 1%;
	font-size: 50px;
	color: white;
	font-family: 'Permanent Marker', cursive;
}
.volet-titre {
	color: black;
	font-family: 'Metamorphous', cursive;
	border-bottom: 1px solid lightgrey;
	margin: auto;
	padding: 10px 0;
	font-weight: bold;
	text-align: center;
}
.desc-site {
	border-radius: 5px;
	background: rgba(236,240,241,0.7);
	padding: 1%;
	width: 70%;
	margin: 1.5% auto;
	font-family: 'Yellowtail', cursive;
	color: black;
	font-size: 40px;
}
#page{
	display: flex;
}
#corps{
	flex: 1;
	background-color: rgba(235,235,235,0.3);
	background-color: rgb(142,200,237);
	color: white;
}
.corps_onglet{
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
	border: solid 1px rgb(27,50,73);
	border-top: none;
}

.recap-event{
	margin: auto;
	margin-top: 40px;
	border: solid 1px black;
	width: 95%;
	background-color: white;
}

.titre-liste-tournoi{
	border: none;
	background-color: #006400;
	color: white;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
	padding: 1%;
	font-family: 'Titillium Web', sans-serif;
}
#titre_corps{
	width: 100%;
	color: white;
	padding: 16px;
	margin:0;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}
.corps{
	background-color: white;
	border: solid 1px rgb(200,200,200);
	padding: 0px;
	border-radius: 5px;
}
#container {
	margin: 2% auto;
	border: 1px solid grey;
	width: 80%;
	padding: 1%;
}
.menu-orga {
	display: flex;
	text-align: center;
	color: white;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.menu-orga div{
	display: flex;
	padding-top: 10px;
	min-width: 150px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.show{
	padding: 1%;
	background-color: rgba(0,0,0,0.8);
	border: solid 1px rgb(20,20,20);
	color: rgb(200,200,200);
	text-decoration: none;
	font-weight: bold;
}
.show:hover{
	background: #778899;
}
.acti{
	background-color: rgb(232,234,236);
	color: rgb(27,50,73);
	border-top: solid 1px rgb(27,50,73);
	border-left: solid 1px rgb(27,50,73);
	border-right: solid 1px rgb(27,50,73);
	border-bottom: none;
	font-weight: bold;
}
.acti:hover{
	background-color: rgb(232,234,236);
	cursor: default;

}
.actif{
	background-color: rgb(245,245,245);
	text-decoration: none;
	border-bottom: none;
}
.actif a:focus{
	text-decoration: none;
}
.bandeau{
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	height: 60px;
}
.bandeau .glyphicon{
	font-size: 26px;
	margin-right: 3px;
	margin-left: 3px;
}
#form_recherche{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 15%;
	margin-bottom: 20%;
}
.form-simple {
	color: black;
	background: whitesmoke;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;
	margin: 4% 0 10%;
}
#barre_de_recherche{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	margin: 0.5rem;
	padding: 0.5rem;
	color: white;
}
#barre_de_recherche *{
	margin: 0.5rem;
}
#input_barre_recherche{
	color: rgb(66,133,244);
}
.center {
	text-align: center;
}
.btn-grand {
	width: 100%;
	margin: 0;
}
.btn-grand:hover{
}
.btn-mid {
	width: 50%;
}
.space-top {
	margin-top: 3%;
}
.form-grand {
	width: 70%;
	margin: auto;
}
.espace-top {
	margin-top: 2%;
}
.espace-bot {
	margin-bottom: 2%;
}
.espace-left {
	margin-left: 2%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.ligne{
	display: flex;
}
.espacer{
	justify-content: space-around;
}
.placeholder{
	color: black;
}
hr{
	border-color: black;
}
.vert {
	color: green;
}
.rouge {
	color:red;
}
.white {
	color: white;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.padding {
	padding: 1%;
}
.visible {
	display: block;
}
.titre {
	background: dimgray;
	width: 100%;
	color: white;
	margin: 0;
	padding: 2%;
	border-bottom: 1px solid black;
}
.left a {
	color: black;
}
.left a:hover, .left a:focu {
	text-decoration: none;
	color: dimgray;
}
form .left a:hover{
	text-decoration: none;
	color: dimgray;
}
.form-invite {
	width: 90%;
	margin: auto;
	padding: 2%;
}
.cont-info {
	background: #f5f5f5;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;
	margin-bottom: 2%;
	font-size: 22px;
}
a:hover {
	color: white;
	text-decoration: none;
}
#titre-form {
	padding-top: 3%;
	margin-bottom: 0;
	font-family: 'Muli', sans-serif;
}
.label-file {
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-top: 3%;
	width: 50%;
	padding: 1%;
	border: 1px solid black;
	border-radius: 5px;
	background: #708090;
}
.label-file:hover {
	background: #778899;
}
.head-tab {
	background: #2F4F4F;
}
.title {
	color: white;
	font-size: 25px;
	border-radius: 5px;
	border: 1px solid #1b3249;
	background: rgba(0,62,117, 1.0);
	padding: 1.5%;
	width: 80%;
	margin: 2% auto;
	font-family: 'Roboto Slab', serif;
}
.no-button {
	line-height: 50px;
}
.menu-orga .show {
	width: 19%;
	margin: 0.25%;
	cursor: pointer;
}

#quit-avis {
	cursor: pointer;
}

.form-control::-moz-placeholder {
	color: black;
	opacity: 0.9;
}
.form-control:-ms-input-placeholder {
	color: black;
	opacity: 0.9;
}
.form-control::-webkit-input-placeholder {
	color: black;
	opacity: 0.8;
}

@media screen and (max-width: 1280px) {
	#volet {
		width: 50%;
		font-size: 9px;
	}
	#volet div {
		min-height: 30px;
	}
}
.gauche{
	display: flex;
	flex-direction: column;

	justify-content: left;
	align-items: left;
}

a { color: black; }
a:hover { color: dimgray; }