body{
	margin: 0rem;
	padding: 0rem;
	background-color: #f5f5f5;
	/*background-image: url('../img/fond.jpg');*/
	background-repeat: no-repeat;
	background-size : 100% 100%;
	background-color: white;
	background-image: url('../img/fond2.jpg');
	background-color: rgb(233,235,238);
	background-image: url('../img/fond.jpg');
}
#page{
	display: flex;
}
#corps{
	flex: 1;
	padding: 10px;
	background-color: rgba(250,250,250,0.5);
	background-color: rgb(25,135,73);
	background-color: rgba(235,125,0,0.5);
	background-color: rgb(220,220,220);
	background-color: white;
	display: flex;
	flex-direction: column;
}
#titre_corps{
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	color: black;
}
.corps{
	background-color: #f5f5f5;
	padding: 0px;
	margin-bottom: 20px;
	border: solid 1px rgb(220,220,220);
}
#container {
	margin: 2% auto;
	background: rgba(0,62,117,1.0);
	border: 1px solid grey;
	width: 80%;
	padding: 1%;
}
.menu-orga {
	color: white;
	cursor: pointer;
}
.show {
	padding: 1%;
	background: dimgray;
}
.show:hover, .act, .acti {
	background: #778899;
}
.bandeau{
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	height: 60px;
}
.bandeau .glyphicon{
	font-size: 26px;
	margin-right: 3px;
	margin-left: 3px;
}
#form_recherche{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 15%;
	margin-bottom: 20%;
}
.form-simple {
	color: black;
	background: whitesmoke;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;
	margin: 4% 0 10%;
}
#barre_de_recherche{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	margin: 0.5rem;
	padding: 0.5rem;
	color: white;
}
#barre_de_recherche *{
	margin: 0.5rem;
}
#input_barre_recherche{
	color: rgb(66,133,244);
}
.center {
	text-align: center;
}
.btn-grand {
	width: 100%;
	margin: 0;
}
.btn-mid {
	width: 50%;
}
.space-top {
	margin-top: 3%;
}
.form-grand {
	width: 70%;
	margin: auto;
}
.espace-top {
	margin-top: 2%;
}
.espace-bot {
	margin-bottom: 2%;
}
.espace-left {
	margin-left: 2%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.ligne{
	display: flex;
}
.espacer{
	justify-content: space-around;
}
.placeholder{
	color: black;
}
hr{
	border-color: black;
}
.vert {
	color: green;
}
.rouge {
	color:red;
}
.white {
	color: white;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.padding {
	padding: 1%;
}
.visible {
	display: block;
}
.titre {
	background: dimgray;
	width: 100%;
	color: white;
	margin: 0;
	padding: 2%;
	border-bottom: 1px solid black;
}
.left a {
	color: white;
}
.left a:hover, .left a:focu {
	text-decoration: none;
	color: darkgray;
}
form .left a:hover{
	text-decoration: none;
	color: white;
}
.form-invite {
	width: 90%;
	margin: auto;
	padding: 2%;
}
.cont-info {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;
	margin-bottom: 2%;
	font-size: 22px;
}
a:hover {
	color: white;
	text-decoration: none;
}
#titre-form {
	padding-top: 3%;
	margin-bottom: 0;
	font-family: 'Muli', sans-serif;
}
.label-file {
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-top: 3%;
	width: 50%;
	padding: 1%;
	border: 1px solid black;
	border-radius: 5px;
	background: #708090;
}
.label-file:hover {
	background: #778899;
}
.head-tab {
	background: #2F4F4F;
}
.title {
	color: white;
	font-size: 25px;
	border-radius: 5px;
	border: 1px solid #1b3249;
	background: rgba(0,62,117, 1.0);
	padding: 1.5%;
	width: 80%;
	margin: 2% auto;
	font-family: 'Roboto Slab', serif;
}
.no-button {
	line-height: 50px;
}