body{
	margin: 0rem;
	padding: 0rem;
	background-color: rgb(66,133,244);
	background-image: url('../img/fond.jpg');
	background-repeat: no-repeat;
	background-size :cover;
}
#form_recherche{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 15%;
}
#barre_de_recherche{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	margin: 0.5rem;
	padding: 0.5rem;
	color: white;
}
#barre_de_recherche *{
	margin: 0.5rem;
}
#input_barre_recherche{
	color: rgb(66,133,244);
}
.center {
	text-align: center;
}
.btn-grand {
	width: 100%;
	margin: 0;
}
.space-top {
	margin-top: 3%;
}
.form-grand {
	width: 70%;
	margin: auto;
}
.espace-top {
	margin-top: 2%;
}
.espace-bot {
	margin-bottom: 2%;
}
.espace-left {
	margin-left: 2%;
}
.ligne{
	display: flex;
}
.espacer{
	justify-content: space-around;
}
.placeholder{
	color: black;
}
hr{
	border-color: black;
}