#volet{
	background-color: rgb(235,235,235);
	color: black;
	padding: 2px;
	margin: 0;
	min-width: 100px;
	width: 15%;
	min-height: 570px;
	border-right: solid 1px rgb(200,200,200);
}
#volet .glyphicon {
	margin-top: 2px;
}
#volet div{
	margin: 2%;
	color: white;
	height: 20px;
}
#volet div a:hover, #volet .active{
	background-color:rgb(220,220,220);
	color: rgb(0,62,117);
}
#volet div a{
	padding: 1%;
	color: black;
	border-radius: 5px;
	display: block;
	width: 100%;
}

#volet div a *{
}
#volet div:hover{
	color: black;
}
#volet_titre {
	margin: 2% auto 2%;
	border-bottom: 1px solid lightgrey;
}