.equipe-cont {
	padding: 1%;
	background: white;
	cursor: pointer;
	border: 1px solid black;
}

.joueurs-team {
	background: grey;
	margin-top: 0;
	padding: 1%;
	display: none;
}

.un-joueur {
	background: lightgrey;
	padding: 1%;
	border: 1px solid black;
}

/* form team */
.form-cont {
	background: dimgray;
	padding: 1%;
	width: 80%;
	margin: 2%;
	color: white;
}