.cont {
	color: white;
	background-color: white;
	padding: 10px;
	margin: 10px;
}
.cont-match {
	background: orangered;
}
.mid-cont {
	background: #f5f5f5;
	padding: 2%;
	color: black;
}
.mid-cont h2 {
	margin-top: 0;
	font-weight: bold;
	background: #B0C4DE;
	padding: 1%;
}
.tournoi-cont {
	border-radius: 5px;
	background: #2E8B57;
	margin-top: 1%;
	padding: 0.5%;
	font-size: 18px;
	color: white;
	border: 1px solid black;
}
.infos-tournoi {
	cursor: default;
	padding: 1%;
}
.infos-tournoi *{
	cursor: default;
}
.infos-tournoi img {
	height: 20px;
}
.mod-tournoi {
	border-radius: 5px;
	background: #DCDCDC;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 1px solid black;
	margin: 0;
}
.visible {
	display: block;
}